# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#import csv
city_df = pd.read_csv("../output_data/cities.csv")
city_df.head()

,Unnamed: 0,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,kapaa,US,40,58,22.08,-159.32,86.00,9.17
1,1,tenabo,MX,63,91,20.05,-90.23,78.39,2.89
2,2,sisimiut,GL,100,87,66.94,-53.67,39.04,6.29
3,3,awbari,LY,0,38,26.59,12.78,75.09,7.72
4,4,tabuk,PH,100,82,17.42,121.44,78.80,2.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
%matplotlib inline
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(city_df[["Latitude","Longitude"]], weights=city_df['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
hotel_df = city_df.loc[(city_df["Max Temp"] >= 70) & (city_df["Max Temp"] <= 80) & (city_df["Wind Speed"] < 10) & (city_df["Cloudiness"] == 0), :]
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

,Unnamed: 0,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
3,3,awbari,LY,0,38,26.59,12.78,75.09,7.72
17,17,rikitea,PF,0,71,-23.12,-134.97,74.05,2.44
87,87,maneadero,MX,0,84,31.72,-116.57,73.99,1.99
102,102,qatana,SY,0,56,33.44,36.08,73.00,6.93
158,158,mira,IT,0,68,45.44,12.13,73.00,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#list to store hotel names
hotels = []
lat = hotel_df['Latitude']
lng = hotel_df['Longitude']

#for loop to find hotels
for i in range(len(hotel_df)):
    #set params
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    #url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    #get hotel name
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotels.append("")

#add hotel list to dataframe        
hotel_df["Hotel Name"] = hotels
#clean dataframe
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

,Unnamed: 0,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
3,3,awbari,LY,0,38,26.59,12.78,75.09,7.72,
17,17,rikitea,PF,0,71,-23.12,-134.97,74.05,2.44,
87,87,maneadero,MX,0,84,31.72,-116.57,73.99,1.99,
102,102,qatana,SY,0,56,33.44,36.08,73.00,6.93,
158,158,mira,IT,0,68,45.44,12.13,73.00,8.05,

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: "None of [Index(['Lat', 'Lng'], dtype='object')] are in the [columns]"

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display figure
fig